.contenedorLanding {
  background-image: url('https://images3.alphacoders.com/116/1168106.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center; /* Centra la imagen de fondo */
  width: 100%;
  position: absolute;
  top: 0%;
  margin-left: -50%;
  height: 100vh;
}
.textLanding {
  color: rgb(34, 95, 32);
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 20%;
  margin-left: -10%;
  position: absolute;
  top: 4%;
}
