/* Filter.css */


  
  /* Estilo para el fieldset */
  .filter-fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: auto;
    width: auto;
  }
  
  /* Estilo para los select */
  .filter-select {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para el botón */
  .filter-button {
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .filter-button:hover {
    background-color: #4d4d4d; 

  }
  /* Estilo para la leyenda */
  .filter-legend {
    font-weight: bold;
  }
  